
.montserrat {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }

#logo {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
    padding: 0;
    border-radius: 10px;
}

.main-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #fff1ca;
     font-size: 18px;
}

h1 {
    font-size: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}


label {
    font-weight: bold;
    font-size: 16px;

}


.container {
    margin: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 400px;
    height: 100vh;
}

.container > .section {
   display: block;
   margin-bottom: 16px;
}

.header {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    gap: 8px;
}

.distance .section {
    display: flex;
    align-items: center;
    gap: 10px;
}

select {
    padding: 5px;
    font-size: 16px;
}

input {
    font-size: 16px;
    width: 80px;
    height: 25px;
    padding: 5px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: #e2e2e2;
    border: 1px solid #ccc;
    outline: none;
}

input:focus {
    border-color: rgb(31, 40, 87) ;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


#distance-amount {
    padding: 5px;
    font-size: 16px;
    display: none;
}

button {
    padding: 10px;
    cursor: pointer;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    color: rgb(242, 242, 242);
    font-weight: bold;
    font-size: 16px;
    background-color: #0095ba;
    border: none;
    font-family: inherit;
    font-weight: bold;
    height: 50px;
    max-width: 400px;
    display: block;
}

button:active {
    transform: scale(.99);
      background-color: #005f81; ;
    opacity: 0.8;
}


img {
    height: 15px;
    width: 15px;
    color: rgb(31, 40, 87);
}

#race-distance {
    background-color: #e2e2e2;
    height: 40px;
    width: 350px;
    border-radius: 10px;
    margin-top: 8px;
    border: none;
    font-family: inherit;
}

#reset-button {
    background-color: inherit;
    color: rgb(31, 40, 87);
    border: none;
    display: flex;
    align-items: center;
}



.pace-chart-content {
    display: flex;
    gap: 64px;
}


@media (max-width: 768px) {
.time.section input {
    width: 20%;
}

}